<div class="title">
  <h1>Témakörök <span style="color: #306998; font-weight: bold">Python kurzusok</span> kategóriában</h1>
</div>
<div class="description">
  <p>A Python napjaink <b>legnépszerűbb</b> programozási nyelve.
    Ennek oka többek között a nyelv <b>széleskörű felhasználása</b>,
    sok-sok <b>előre megírt</b> nyílt forráskódú program és az <b>egyszerű</b>, átlátható formázás.</p><br>
  <p>Nézd meg a <b>Python kurzusok</b> kategóriát bemutató videómat további információkért!</p>
</div>

<br>

<button class="accordion accordion_video">Python kurzusok bemutató videó</button>
<div class="panel panel_video">
  <div class="video">
    <iframe width="1012" height="570" src="https://www.youtube.com/embed/Dd6t3POTyvE" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
