<div class="title">
  <h1>Témakörök <span style="color: #C51A4A; font-weight: bold">Kiegészítő anyagok</span> kategóriában</h1>
</div>
<div class="description">
  <p>A Python kurzusok mellett a weboldalon számos egyéb Pythonnal és <b>általános programozással</b>
    kapcsolatos témában is meg szeretném veletek osztani az <b>ismereteimet</b>.</p><br>
  <p>Nézd meg a <b>Kiegészítő anyagok</b> kategóriát bemutató videómat további információkért!</p>
</div>

<br>

<button class="accordion accordion_video">Kiegészítő anyagok bemutató videó</button>
<div class="panel panel_video">
  <div class="video">
    <iframe width="1012" height="570" src="https://www.youtube.com/embed/Dd6t3POTyvE" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
