{% extends "site/base.html" %}
{% block content %}
<div class="title">
  <h1>Gyakran ismételt kérdések</h1>
</div>
<div class="description">

  <button class="accordion">Kinek szól a weboldal?</button>
  <div class="panel">
    <p>Mindenkinek, aki tanulni szeretne a programozásról, adat elemzésről, automatizálásról és sok ezekhez
      kapcsolódó területről.
      Minden témában az alapoktól indulok és mindegyik logikai lépést megpróbálom érthetően elmagyarázni, ezért
      különösebb előismeretekre nincs szükség. Ettől függetlenül előny a matematikában való jártasság és az angol
      nyelvismeret is.</p>
    <br>
  </div>

  <button class="accordion">Hogyan tudlak elérni?</button>
  <div class="panel">
    <p>Ha bármi kérdésed vagy javaslatod lenne azt
      <a href="mailto:info@pythonvilag.hu">ide kattintva</a> tudod nekem elküldeni.
    </p>
    <br>
  </div>

  <button class="accordion">Mi a legjobb módja elkezdeni programozni?</button>
  <div class="panel">
    <p>Sok helyen mondják, hogy csak le kell ülni és csinálni kell. Ez valamilyen szinten igaz is, de
      sokat segít, ha az egésszel van valami célod. Mindig, amikor tanulsz valami újat gondold végig, hogy
      ezt hogyan tudnád használni a célod megvalósításában és játsz a tanultakkal! <br> <br>
      Mutasd meg egy barátodnak, hogy mit tanultál és találjátok ki, hogyan lehetne egy picit bonyolítani a
      dolgokat, majd próbáld meg megoldani. </p>
    <br>
  </div>

  <button class="accordion">Miért magyar a weboldal?</button>
  <div class="panel">
    <p>Míg az angolul elérhető források igencsak tágan lefedik a weboldal által bemutatott témákat,
      addig magyar nyelven ennek csak töredéke (ha egyáltalán bármi) érhető el.
      Emellett pedig sokan, akik beszélnek is angolul, lehet szívesebben tanulnak az anyanyelvükön, tudva, hogy
      egy bonyolultabb koncepció megértésében legalább az nem fogja hátráltatni őket, ha nem ismernek pár
      speciális szót.</p>
    <br>
  </div>

  <button class="accordion">Miért ingyenes a tananyag?</button>
  <div class="panel">
    A leckék ingyenes mivoltának két fő oka van:<br>
    <ul>
      <li>Amiket bemutatok nem én találtam ki, csupán megismertem, megértettem különböző internetes
        forrásokból.</li>
      <li>Az egész projektre úgy tekintek, mint egy referencia, amin bemutathatom, miket vagyok képes
        elkészíteni.</li>
    </ul>
    <br>
  </div>

  <button class="accordion">Mire fogom tudni használni a tanultakat?</button>
  <div class="panel">
    <p>Saját tapasztalatból tudom mondani, hogy az elérhető anyag töredéke is elég ahhoz, hogy a legtöbb cégnél
      gyakornoki pozícióhoz jusson az ember, de akár kezdő teljes álláshoz is elég lehet, ha megfelelő mennyiségű
      gyakorlás van az ember mögött.
      Ettől függetlenül a legtöbb helyen természetesen elvárás a diploma és az itt tanultak azt
      közel sem helyettesítik.</p>
    <br>
  </div>

  <button class="accordion">Hogyan tudom támogatni az oldalt?</button>
  <div class="panel">
    <p>Beszélj arról, amiket tanultál barátokkal/ismerősökkel hátha megtetszik nekik is mindez és csatlakoznak a
      közösséghez!
      Illetve a szokásos YouTube módszerek (Like, Komment, Feliratkozás) is segít abban, hogy lássam, tényleg van
      értelme annak, amit csinálok és embereket érdeklik ezek a témák.</p>
    <br>
  </div>

  <button class="accordion">Más segített az oldal elkészítésében?</button>
  <div class="panel">
    <p>A legtöbb segítséget és visszajezést Stefitől, Petitől és Samutól kaptam. Köszönet nekik innen is.</p>
    <br>
  </div>

  <button class="accordion">Ki a kedvenc Pokemonod?</button>
  <div class="panel">
    <p>Squirtle.</p>
    <br>
  </div>
</div>

{% endblock content %}
