{% extends "source/base.html" %}
{% block content %}
<div class="title">
    <h1><span style="color: #00878F; font-weight: bold">Teszt beküldése</span></h1>
</div>
<div class="description">
    <p>
        Töltsd fel a dolgozatodat a form segítségével az automatikus kiértékeléshez:<br>
    </p>
    <p>
        Dátum: {{ date }}
    </p>
    <form method="POST" enctype=multipart/form-data>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type=file name=file>
        <input type=submit value=Upload class="read_more_button">
    </form>

</div>


{% endblock content %}
