.footer {
    margin: 0 auto;
    width: 100%;
    min-width: 1080px;
    padding: 10px;
    position: relative;
    background-color: #000000;
    height: 90px;
    color: white;
}


.footer-socials {
    text-align: center;
    align-items: center;
    /* align vertical; */
    display: flex;
    justify-content: center;
    /*horizontal vertical; */
    margin: auto;
    width: 100%;
}

.footer-socials>a {
    margin-left: 5px;
    margin-right: 40px;
}


.footer-socials>a>img {
    height: 50px;
    padding: 5px;
    filter: brightness(0) invert(1);
}

.footer-socials>a>img:hover {
    filter: grayscale(0);
    transform: scale(1.25);
}

.footer-bottom {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-variant: small-caps;
}

.footer-bottom>a {
    text-decoration: none;
    color: white;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

/* Mobile Version

@media only screen and (max-width: 1080px) {

}
*/
