<div class="title">
  <h1>Témakörök <span style="color: #00878F; font-weight: bold">Projekjeim</span> kategóriában</h1>
</div>
<div class="description">
  <p>A sok elméleti tudást kiegészítve szívesen mutatom be nektek, hogy
    hogyan lehet a <b>korábbiakban átadott</b> tudást alkalmazni a <b>mindennapi feladataink</b> során.</p><br>
  <p>Nézd meg a <b>Projekjeim</b> kategóriát bemutató videómat további információkért!</p>
</div>

<br>

<button class="accordion accordion_video">Projektjeim bemutató videó</button>
<div class="panel panel_video">
  <div class="video">
    <iframe width="1012" height="570" src="https://www.youtube.com/embed/Dd6t3POTyvE" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
